<h1>Name: </h1>
<%= @myName %>
<br/>
<h1>Where I'm From: </h1>
<%= @whereFrom %>
<br/>
<h1>Class Standing: </h1>
<%= @schoolYear %>
<br />
<h1>FunFact: </h1>
<%= @funFact %>
<br />
<h1>What I'm excited about in this class: </h1>
<%= @excited %>
<br />
<br />
<br />
<%= image_tag("Cal_Hacks_Picture.jpg") %>
<br />
